-Djava.util.logging.config.file=${project.basedir}/src/test/resources/logging-test.properties
-Djdk.attach.allowAttachSelf=true
-Djdk.instrument.traceUsage=false
-Dorg.slf4j.simpleLogger.log.org.mockito=warn
-Dorg.slf4j.simpleLogger.log.net.bytebuddy=warn
-Dorg.slf4j.simpleLogger.log.org.springframework=warn
-Dorg.mockito.internal.creation.bytebuddy.InlineBytecodeGenerator.retransform=false
--add-opens=java.base/java.lang=ALL-UNNAMED
--add-opens=java.base/java.util=ALL-UNNAMED
--add-opens=java.base/java.lang.invoke=ALL-UNNAMED
--add-opens=java.base/java.nio=ALL-UNNAMED
--add-opens=java.base/java.util.regex=ALL-UNNAMED
--add-opens=java.base/java.net=ALL-UNNAMED
--add-opens=java.base/java.io=ALL-UNNAMED
--add-opens=java.base/java.util.concurrent=ALL-UNNAMED
--add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED
--add-opens=java.base/sun.nio.ch=ALL-UNNAMED
--add-opens=java.base/sun.nio.cs=ALL-UNNAMED
--add-opens=java.base/sun.security.action=ALL-UNNAMED
--add-opens=java.base/sun.util.calendar=ALL-UNNAMED
--add-exports=java.base/sun.nio.ch=ALL-UNNAMED
--add-exports=java.base/sun.net.util=ALL-UNNAMED
--add-exports=java.base/sun.security.x509=ALL-UNNAMED
--add-exports=java.base/sun.security.util=ALL-UNNAMED
